@import 'variables';
@import 'mixins';

.about-container {
  display: flex;
  flex-direction: column; /* Changez la direction en colonne pour les écrans plus petits */
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  margin-top: $about-margin-top; // Utilisation de la variable
  
  @media screen and (min-width: 768px) {
    flex-direction: row; /* Revenez à la direction en ligne pour les écrans plus grands */
  }
}

.about-content {
  flex: 1;
  padding-right: 20px;
}

.about-paragraph,
h2 {
  @include center-content; // Utilisation de la mixin
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  max-width: 466px;
  margin: 0 auto;
  border-radius: 10px;
  
  @media screen and (min-width: 768px) {
    padding: 20px 0; /* Réduisez la marge haut et bas pour les écrans plus grands */
  }
}

h2 {
  color: #333;
  font-family: 'Syne', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}
