// main.scss
@import 'variables'; 

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $image-overlay-background-color;
  color: $image-overlay-text-color; 
  opacity: $image-overlay-opacity;
  transition: opacity $image-overlay-transition-duration ease; 
}

.overlay:hover {
  opacity: $image-overlay-hover-opacity; 
}

.overlay .links a {
  color: $image-overlay-text-color; 
  margin-right: $image-overlay-spacing; 
  font-size: $image-overlay-text-size; 
}
