/* Skills.scss */

.skills-container {
    text-align: center;
    margin: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Bodoni Moda', serif;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;

  }
  
  .icon {
    width: 80px; /* Ajustez la taille selon vos besoins */
    height: 80px;
    margin: 30px; /* Marge entre chaque icône */
    border-radius: 10%;
    box-shadow: 0 0 10px rgb(0, 144, 146);
    display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  }

  .icone-color{
    background-color: #0f0823;
  }